*{
    color:#EEA47FFF;
}
body{
    background-color: #9CC3D5FF;
}
#controller{
    background-color: white;
    height: 770px;;
    width: 900px;
    margin:auto;
    margin-left: 300px;
    border-radius: 20%;
}
#game{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: x-large;
    text-align: center;
}
header{
    align-items: center;
}
#timer{
    text-align: center;
}
div{
    margin-left:60px;
}
h1{
    text-align: center;
}
button{
    color:#EEA47FFF;
    margin-left: 425px;
    border: 2px solid #EEA47FFF;
    background-color: white;
    height:40px;
    width:80px;
    margin-left:415px;
    border-radius:10%;
}
#scoreboard{
    background-color: white;
    float:left;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    text-align: center;
}
#list{
    text-align: center;
}
#title{
    padding-top:15px;
}